body {
    background-color: #F2F2F2;
}
.Container {
    margin-top: 10%;
}
.ItemContainer {
    background-color: #FFF;
    height: auto;
    margin-top: 50px;
    border: 1px solid #ced4da;
}
.form-control {
    border-radius: 0%;
}
.Item {
    margin: 10%;
    display: flex;
}
.ItemData {
    margin-left: 50px;
}
.photo {
    height: 100;
}
.title {
    font-weight: bold;
}
.description {
    font-size: small;
}
.TitleLink {
    text-decoration: none;
}